:root {
    --font-size-prev: 2rem;
}

body {
    background-color: darkslategray;
}

div {
    background-color: black;
    width: 20%;
    min-width: 385px;
    min-height: 610px;
    height: 50%;
    margin: 30px auto auto auto;
    border-radius: 15px;
    box-shadow: inset 1px 1px 10px 5px darkslategray;
    text-wrap: nowrap;
    overflow: hidden;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: white;
}

h2 {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0 20px 0 20px;
}

#current-val {
    color: white;
    font-size: 4rem;
}

#previous-val {
    color: darkgray;
    font-size: 2rem;
    padding-top: 4rem;
}

button {
    height: 100%;
    aspect-ratio: 1;
    border: 1px solid black;
    border-radius: 20px;
    color: white;
    font-size: 1.7rem;
    box-shadow: inset 0.1px 0.1px 10px darkslateblue;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    column-gap: 15px;
    row-gap: 10px;
    padding: 20px 20px 20px 20px;
}

.grey {
    background-color: gray;
    transition-duration: 0.4s;
}

.grey:hover {
    background-color: rgb(180, 180, 180);
}

.grey:active {
    transition-duration: 0s;
    transform: translateY(3px);
}

.black {
    background-color: rgb(27, 27, 27);
    transition-duration: 0.4s;
}

.black:hover {
    background-color: rgb(47, 47, 47);
}

.black:active {
    transition-duration: 0s;
    transform: translateY(3px);
}

.blue {
    background-color: blue;
    transition-duration: 0.4s;
}

.blue:hover {
    background-color: rgb(100, 100, 255);
}

.blue:active {
    transition-duration: 0s;
    transform: translateY(3px);
}